@{
    ViewBag.Title = "My Profile - Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>My Profile</h1>
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4" style="background: #f0f8ff; padding: 15px;">
            <h2>Background</h2>
            <p>I am a student at UP studying Informatics.</p>
        </div>

        <!-- Column 2 -->
        <div class="col-md-4" style="background: #fff0f5; padding: 15px;">
            <h2>Hobbies</h2>
            <p>Programming<br>Reading<br>Sports</p>
        </div>

        <!-- Column 3 -->
        <div class="col-md-4" style="background: #f0fff0; padding: 15px;">
            <h2>Modules</h2>
            <p>INF272<br>INF214<br>WTW114</p>
        </div>
    </div>
</div>