@{
    ViewBag.Title = "My Details - Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Student Info</h3>
        </div>
        <div class="panel-body">
            <p><strong>Name:</strong> Your Name</p>
            <p><strong>Student Number:</strong> U12345678</p>
            <p><strong>Course:</strong> BSc IT</p>
        </div>
    </div>
</div>